<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
  <!-- Topbar Navbar -->
  <ul class="navbar-nav ml-auto">

    <!-- Nav Item - Search Dropdown (Visible Only XS) -->


    <!-- Nav Item - Alerts -->


    <!-- Nav Item - Messages -->
    <li class="nav-item dropdown no-arrow mx-1">
      <a href="/login" class="btn btn-primary">
                    <span class="icon text-white-50">
                      <i class="fas fa-user"></i>
                    </span>
        <span class="text ml-1">S'inscrire</span>
      </a>
    </li>


    <a href="/register" class="btn btn-primary">
                    <span class="icon text-white-50">
                      <i class="fas fa-lock"></i>
                    </span>
      <span class="text ml-1">Se connecter</span>
    </a>


  </ul>
</nav>
