<div class="container">

  <div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
      <!--<p-messages [(value)]="msgs"></p-messages>
       Nested Row within Card Body -->
      <div class="row" style="padding: 5px">
        <div class="col-lg-6">
          <div class="">
            <div class="card mb-4">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Detail sondage</h6>
              </div>
              <div class="card-body">
                <div style="color: #1c294e;">
                  Intitulé
                </div>
                <div class="">
                  {{sondageDetail['intitule']}}
                </div>
                <div style="color: #1c294e;">
                  Résumé
                </div>
                <div class="">
                  {{sondageDetail['resume']}}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="">
            <div class="card mb-4">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Liste des propositions</h6>
              </div>
              <div class="card-body">
                <tbody *ngFor="let list of sondageDetail['mesPropositions']">
                <tr >
                  <td width="60%">{{list['date']}}{{list['lieu']}}</td>
                  <td width="20%">5</td>
                  <td>
                    <a *ngIf="list['aUnDejeuner'];else other_content" class="btn-xs btn-primary mr-1" style="border-radius: 5px" routerLink="/valider-proposition/{{list['id']}}">
                       valider
                    </a>
                    <ng-template #other_content>
                      <a class="btn-xs btn-danger mr-1" style="border-radius: 5px" routerLink="/valider-proposition/{{list['id']}}">
                        Annuler
                      </a>
                    </ng-template>

                  </td>
                </tr>
                </tbody>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>
